<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name ="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" href="/css/stats.css">
        <link href="/css/hamburgers.css" rel="stylesheet">
        <title>Document</title>
    </head>
    <body>
        <div class="navbar">
            <div class="navheader">
                <img src="https://i.pinimg.com/564x/78/f7/43/78f743f24bc108b2e7d13725ba990cd8.jpg">
                <button class="hamburger hamburger--collapse" type="button">
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
            <div class="navmenu">
                <a href="/">Home</a>
                <a href="/mirai">Expense</a>
                <button class="heroSectionDescBut">Get Started</button>
            </div>
        </div>

            <div class="stats">
                <div class="statsHeaddesc">
                    <h1 class="userName" id="headerName"></h1>
                    <p>Welcome back</p>
                    <button id="showStatsBut">Show Statistics</button><br/>
                    <svg width="100" height="100" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.25 22.5v-3.865a3.361 3.361 0 0 0-.94-2.607c3.14-.35 6.44-1.538 6.44-6.99a5.43 5.43 0 0 0-1.5-3.746 5.058 5.058 0 0 0-.09-3.765s-1.18-.35-3.91 1.478a13.397 13.397 0 0 0-7 0C6.52 1.177 5.34 1.527 5.34 1.527a5.058 5.058 0 0 0-.09 3.765 5.43 5.43 0 0 0-1.5 3.775c0 5.413 3.3 6.602 6.44 6.991a3.366 3.366 0 0 0-.94 2.577V22.5"></path>
                        <path d="M9.25 19.503c-5 1.498-5-2.496-7-2.996"></path>
                    </svg>
                </div>

                <div class="totStats">
                    <div class="totStat">
                        <div class="totStatSvg">
                            <svg width="46" height="46" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                            </svg>
                        </div>
                        <p>Today's credit is</p>
                        <h1 class="totper"><%= Math.ceil(statara[3]) %>%</h1>
                        <p>of Toral credit</p>
                        <h1 id="totCred"><%= statara[5] %>Taka</h1>
                    </div>
                    <div class="totStatPersonal">

                    </div>
                    <div class="totStat">
                        <div class="totStatSvg">
                            <svg width="46" height="46" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
                                <path d="M22 12A10 10 0 0 0 12 2v10z"></path>
                            </svg>
                        </div>
                        <p>Today's debit is</p>
                        <h1 class="totper"><%= Math.ceil(statara[4]) %>%</h1>
                        <p>of Toral debit</p>
                        <h1 id="totDeb"><%= statara[6] %> Taka</h1>
                    </div>
                </div>
                
                <div class="todStats">
                    <div class="todStat">
                        <div class="todStatDesc">
                            <p>Date</p>
                            <h1><%= statara[0] %></h1>
                        </div>
                        <div class="todStatSvg">
                            <svg width="46" height="46" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <rect width="18" height="18" x="3" y="4" rx="2" ry="2"></rect>
                                <path d="M16 2v4"></path>
                                <path d="M8 2v4"></path>
                                <path d="M3 10h18"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="todStat">
                        <div class="todStatDesc">
                            <p>Credit</p>
                            <h1><%= statara[1] %> Taka</h1>
                        </div>
                        <div class="todStatSvg">
                            <svg width="46" height="46" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 1a7 7 0 1 0 0 14 7 7 0 1 0 0-14z"></path>
                                <path d="M8.21 13.89 7 23l5-3 5 3-1.21-9.12"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="todStat">
                        <div class="todStatDesc">
                            <p>Debit</p>
                            <h1><%= statara[2] %> Taka</h1>
                        </div>
                        <div class="todStatSvg">
                            <svg width="46" height="46" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 2 3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                                <path d="M3 6h18"></path>
                                <path d="M16 10a4 4 0 0 1-8 0"></path>
                            </svg>
                        </div>
                    </div>
                </div>

            </div>
        

        <form action="/stats" method="post" class="statsForm">
            <input type="text" id="statsName" name="statsName"><br/>
            <input type="text" id="statsDate" name="statsDate"><br/>
            <input type="submit" value="Submit" id="statsButton"><br/>
        </form>
        <script>

            window.addEventListener("load",()=>{
                localStorage.setItem("logStatus", "1");
                var username=localStorage.getItem("username");

                var statsName=document.querySelector("#statsName");
                statsName.value=username; 

                var date = new Date();
                var statsDate=document.querySelector("#statsDate");
                let day = date.getDate();
                let month = date.getMonth() + 1;
                let year = date.getFullYear();

                // This arrangement can be altered based on how we want the date's format to appear.
                let currentDate = `${day}-${month}-${year}`;
                statsDate.value=currentDate;

                var thisUserName=document.querySelector(".userName");
                thisUserName.innerHTML="Hello "+ username;
            });

            var navButCount=0;
            document.querySelector(".hamburger").addEventListener("click",()=>{
                navButCount=(navButCount+1)%2;
                if(!navButCount&1)document.querySelector(".hamburger").classList.remove("is-active");
                else document.querySelector(".hamburger").classList.add("is-active");
            });

            
            var heroSectionDescBut=document.querySelector(".heroSectionDescBut")
            window.addEventListener("load",()=>{
                var logStatus=localStorage.getItem("logStatus");
                if(logStatus == "0"){
                    heroSectionDescBut.innerHTML="Get Started";
                }
                else{
                    heroSectionDescBut.innerHTML="Log out";
                }
            });

            heroSectionDescBut.addEventListener("click",()=>{
                var logStatus=localStorage.getItem("logStatus");
                if(logStatus == "0"){
                    window.location.href = "/login";
                }
                else{
                    localStorage.setItem("logStatus", "0");
                    window.location.href = "/";

                }
            });

            var showStatsBut=document.querySelector("#showStatsBut");
            //showStatsBut.addEventListener("click",()=>{
            //var loadCount=0;
            //showStatsBut.addEventListener("load",()=>{
            showStatsBut.addEventListener("click",()=>{
                var statsButton=document.querySelector("#statsButton");
                statsButton.click();
                //statsButton.remove();

            }, {once : true});

            
        </script>
    </body>
</html>